<p>home works!</p>

<div class="container">  
    <div class="row">  
        <div class="form_bg">  
            <form #regForm='ngForm' (ngSubmit)="Register(regForm)" >  
                 <h2 class="text-center">Registration page</h2>  
                <br/>  
                <div class="form-group">  
                    <input type="text" class="form-control" placeholder="First Name" name="firstname" ngModel >   
                </div>  
                <div class="form-group">  
                    <input type="text" class="form-control"  placeholder="Last Name" name="lastname" ngModel >  
                </div>  
                <div class="form-group">  
                    <input type="email" class="form-control" id="email" placeholder="Email" name="email" ngModel>  
                </div>  
                 <div class="form-group">  
                </div>  
                <br/>  
                <div class="align-center">  
                    <button type="submit" class="btn btn-default" id="register"  >Register</button>  
                </div>  
            </form>  
        </div>  
    </div>  
    {{messageItem}}
  </div>

  <app-home-child [ChildInputArr] ="ParentForm" ></app-home-child>
