<nav>
  <span style="padding-right:10px ;"><a routerLink="/UserList">UserList</a></span>
 <span> <a routerLink="/AddUser">Add User</a></span>
 
 <span> <a routerLink="/UserTempForm">Templateform</a></span>
 <span> <a routerLink="/Login">Login</a></span>
 <span> <a routerLink="/DashBoard">DashBoard</a></span>
 <span> <a routerLink="/ReactiveForm">ReactiveForm</a></span>
 
 <span> <a routerLink="/ParentCompComponent">Parent</a></span>
 <span> <a routerLink="/MultiCheck">Check</a></span>

</nav>
<router-outlet></router-outlet>